<div class="modal-header d-flex">
    <h4 class="modal-title" id="modal-basic-title">{{'PAGES.CELL.TITLE' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <ng-select [items]="sheets" (change)="onSelectSheet($event)"
               placeholder="Select sheet"></ng-select>

    <div *ngIf="selectedSheet && !selectedRow" class="d-flex flex-column mt-2">
        <h3>Select row from where to start</h3>
        <ng-container *ngFor="let row of jsonFile[selectedSheet]; let i = index" class="mt-2">
            <p (click)="onRowSelected(i + 1)">{{ i + 1}}. {{ row | json}} <br></p>
        </ng-container>
    </div>

    <div *ngIf="selectedRow" class="d-flex flex-column mt-2">
        <h3>Starting from row: {{ selectedRow }}</h3>

        <div class="d-flex mt-2">
            <ng-container *ngFor="let column of ObjectKeys(jsonFile[selectedSheet][selectedRow - 2]);">
                <span><strong>{{ column }} | </strong> {{ jsonFile[selectedSheet][selectedRow - 2][column] }}</span> &nbsp;
            </ng-container>
        </div>
        <hr>
        <div class="d-flex flex-column mt-2">
            <ng-container *ngFor="let column of ObjectKeys(jsonFile[selectedSheet][selectedRow - 1]);">
                <span><strong>{{ column }}:</strong> {{ jsonFile[selectedSheet][selectedRow - 1][column] }}</span>
            </ng-container>
        </div>
        <hr>

        <div class="d-flex flex-column mt-2">
            <h3>Select cell values: </h3>

            <div class="form-group">
                <label>Name:</label>
                <ng-select [items]="columns" [(ngModel)]="selectedName"
                           placeholder="Select name"></ng-select>
            </div>

            <div class="form-group">
                <label>Sex:</label>
                <ng-select [items]="columns" [(ngModel)]="selectedSex"
                           placeholder="Select name"></ng-select>
            </div>

            <div class="form-group">
                <label>Year of Birth:</label>
                <ng-select [items]="columns" [(ngModel)]="selectedYob"
                           placeholder="Select name"></ng-select>
            </div>

            <div class="form-group">
                <label>Disciplines starting from:</label>
                <ng-select [items]="columns" [(ngModel)]="disciplinesFrom"
                           placeholder="Select name"></ng-select>
            </div>

            <div class="form-group">
                <label>Disciplines ending on:</label>
                <ng-select [items]="columns" [(ngModel)]="disciplinesTo"
                           placeholder="Select name"></ng-select>
            </div>
        </div>

        <!--Select column for and to where disciplines are-->
        <div *ngIf="disciplinesFrom && disciplinesTo" class="d-flex flex-column mt-2">
            <h3 style="cursor: pointer" (click)="calculateDisciplinesColumns()">Select what discipline is in which cell: </h3>

            <ng-container *ngIf="disciplinesColumns.length">
                <ng-container *ngFor="let disciplineColumn of disciplinesColumns;">
                    <div class="form-group">
                        <label>{{ jsonFile[selectedSheet][selectedRow - 2][disciplineColumn] }}:</label>
                        <ng-select [items]="disciplines">
                            <ng-template ng-label-tmp ng-option-tmp let-item="item">
                                {{item.NAZIV + " - " + item.BAZEN + item.JM}}
                            </ng-template>
                        </ng-select>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button (click)="close()" class="btn btn-outline-secondary">
        {{ 'PAGES.CELL.CLOSE' | translate }}
    </button>
    <button (click)="submit()" class="btn btn-primary">
        {{ 'PAGES.CELL.SUBMIT' | translate }}
    </button>
</div>
