<div class="container">
    <h1 class="title">
        {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>

    <label style="margin-top: 2rem; cursor: pointer" for="my-file-selector">
        <input type="file"
               accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               style="display: none" id="my-file-selector" (change)="onFileAdd($event.target['files'][0])">
        {{ 'PAGES.HOME.SELECT_FILE' | translate }}
    </label>

    <label style="margin-top: 2rem; cursor: pointer" (click)="onFolderPick()">TEST</label>
</div>
